<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">index</a>
<a href="clientcreate">create client</a>
<table>

    <thead>
    <th>id</th>
    <th>prenom du client</th>
    <th>nom du client</th>
    <th>détails</th>
    </thead>
    <tbody>
    <th:block th:each="clients, stat : ${clients}">
        <tr>
            <td th:text="${clients.getId()}"></td>
            <td th:text="${clients.getFirstName()}"></td>
            <td th:text="${clients.getLastName()}"></td>
            <td><a th:href="@{client/{id}(id=${clients.getId()})}">détails client</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>