<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documents</title>
</head>
<body>
<h1>Page Documents</h1>
<div></div>
<a href="clients">clients</a>
<a href="bookcreate">create book</a>

<table>

    <thead>
    <th>Id</th>
    <th>Type de document</th>
    <th>Titre</th>
    <th>Nb Available</th>
    </thead>
    <tbody>
        <th:block th:each="document, stat : ${documents}">
            <tr>
                <td th:text="${document.getId()}"></td>
                <td th:text="${document.getType()}"></td>
                <td th:text="${document.getName()}"></td>
                <td th:text="${document.getNbAvailable()}"></td>
            </tr>
        </th:block>
    </tbody>
</table>
</body>
</html>